* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
/* General */
section {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

/* Barra de navegación */

.navbar {
    padding: 1rem;
    background: #df6348;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Inicio */

.inicio {
    background: #f1d1ca;
    min-height: 450px;
    text-align: center;
}

.inicio-principal {
    padding: 3rem;
    justify-content: space-evenly;
}

.inicio-principal h2 {
    font-size: 1.5rem;
    color: #a19d9c;
}

.inicio-perfil {
    width: 200px;
    height: 200px;
    border-radius: 40%;
    margin: 20px;
}

/* Sobre mí */

.sobre-mi {

}

.seccion-oscura {
    
}

/* Resposive */
@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .inicio-inferior-img {
        max-width: 600px;
    }
}